


<table width="100%" style="border-width: 1px;border-color: black;border-style: solid; text-align: left;" id="table_for_{{ formname }}">
    <tr>
        <td>
            <form id="form_{{ formname }}" class="form-horizontal" style="padding: 5px">
                <div id="more_{{ formname }}"></div>
                
                {% if formgraphpath is not null %}                
                    {% render formgraphpath  with {'formname': formname } %}
                {% endif %}
                
                <input type="button" onclick="update('{{ formname }}','{{ graphroute }}',true)" name="{{ formname }}[update]" value="Update" class="btn-primary" />                
                <input type="button" onclick="addPlotTo('{{ formname }}','{{ formviewpath }}','{{ graphroute }}')" name="{{ formname }}[add]" class="btn-success" value="Add Values" />
                <input type="button" onclick="removePlotTo('{{ formname }}','{{ graphroute }}')" name="{{ formname }}[remove]" class="btn-danger" value="Remove Values" />
                <br/>
                <label class="checkbox">
                <input type="checkbox" id="autoupdate_{{ formname }}" name="{{ formname }}[autoupdate]" checked="true">
                Auto update graph
                </label>
                {#<input type="checkbox" id="autoupdate_{{ formname }}" name="{{ formname }}[autoupdate]" checked="" />
                <label for="autoupdate_{{ formname }}" >Auto update graph</label>#}
            </form>
        </td>
        <td id="td_{{ formname }}"><div style="z-index: 9" id="div_{{ formname }}" style="border-width: 1px"></div></td>
    </tr>
</table>




<script type="text/javascript">
    singleformsnum['{{ formname }}']=0;
    setUpdateListener('{{ formname }}','{{ graphroute }}');

    {% if combined is null %}
    addPlotTo('{{ formname }}','{{ formviewpath }}','{{ graphroute }}', false);
    {% else %}
        {% for i in range(0,combined-1) %}   

            addPlotTo('{{ formname }}','{{ formviewpath }}','{{ graphroute }}', false);
        {% endfor %} 

    {% endif %} 
</script>


