
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


<BR/>
<BR/>


<div id="forms_container"></div>

<BR/>
<div class="row-fluid">
    <div class="span12">
        <div width="100%" class="pull-right">   
            <input type="button" value="Add Graph" class="btn-success" onClick="addGraph('{{ path(insertgraphroute) }}')" />
            <input type="button" value="Remove Graph" class="btn-danger" onClick="removeGraph('{{ path(insertgraphroute) }}')" />
            <BR />

            {% if viewerformpath is not null %}                
                {% render viewerformpath  %}
            {% endif %}   
            
            <input type="button" value="Update All" class="btn-primary" onClick="update_all('{{ graphroute }}')" />                
        </div>

        <BR/>

        {# echo link_to_function("Generate url","refreshURL()") #}
        <br/>

        <br/>
        <div class="control-group">
            <div class="controls">
                <input type="button" value="Generate URL" onClick="refreshURL('{{ viewerurl }}')" class="btn-info" /><BR />
                <p class="help-block">You can use this link to return to this page displaying the same graphics.</p>
            </div>
        </div>
        <textarea id="url" rows="5" style="width: 400px">
        </textarea>

        <script src="{{ asset('bundles/dafuerjpgraph/js/viewer.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            graph_viewer_default_options={{ graph_viewer_default|raw }};
            {% if numofgraphs is null or numofgraphs == 1 %}
                addGraph('{{ path(insertgraphroute) }}', {{ combined }});
            {% else %}
                {% for i in range(0,numofgraphs-1) %} 
                    addGraph('{{ path(insertgraphroute) }}', {{ combined[i] }});
                {% endfor %}
            {% endif %}


            {{ js|raw }}

            update_all('{{ graphroute }}');

        </script>

    </div>
</div>


